.item {

  background: #F3EFE0;
  width: 180px;
  border-radius: 10px;
  margin: 10px auto;

  h2 {
    font-size: 18px;
  }

  button {
    background: none;
    border: none;
    border-radius: 10px;
    padding: 5px 7px;

    &:hover {
      background: #ECECEC;
      transition: 0.3s ease-out;
    }
  }
}

.basic {
  display: flex;
  justify-content: space-around;
}